NEXT_PUBLIC_SUPABASE_URL=https://ajmkflskjtwdjgldzgie.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqbWtmbHNranR3ZGpnbGR6Z2llIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2ODY5NzQsImV4cCI6MjA5NzI2Mjk3NH0.gtveqiQKQsJJR19LUhWsg7uJwhX5_WYa0-l1jZvt3y0

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqbWtmbHNranR3ZGpnbGR6Z2llIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTY4Njk3NCwiZXhwIjoyMDk3MjYyOTc0fQ.HDiddZySyvWt7_2DAIT3E87qtaDVNSGAbvr6QXhGbDI


NEXT_PUBLIC_OPENWEATHER_API_KEY=your_openweather_key
ANTHROPIC_API_KEY=your_anthropic_key
NEXT_PUBLIC_APP_NAME=TrophyHunt
NEXT_PUBLIC_APP_URL=https://trophyhunt.co.za